<h3>Cadastrar produto</h3>

<div class="well">
  <form #formProduct="ngForm">
    <div class="form-group">
      <label for="description">Descrição</label>
      <input
        [(ngModel)]="product.description"
        #description="ngModel"
        type="text"
        class="form-control"
        id="productDescription"
        placeholder="Digite a descrição do produto"
        minlength="3"
        required
      />
      <div
        *ngIf="description.errors && (description.dirty || description.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!description.errors.required">
          Digite a descrição do produto.
        </div>
        <div [hidden]="!description.errors.minlength">
          A descrição deve contem pelo menos 3 caracteres.
        </div>
      </div>
    </div>
    <button
      [disabled]="!formProduct.form.valid"
      (click)="onSubmit()"
      type="button"
      class="btn btn-primary"
    >
      Enviar
    </button>
  </form>
</div>
